.r-page-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.r-page-login input {
    width: 300px;
    margin-right: 5px;
}
