.r-categories a {
    text-decoration: none;
}

.r-categories a:focus {
    outline: none;
}

.r-categories a:hover {
    background: var(--color-accent-muted);
}

.r-categories a.r-active {
    background: var(--color-accent);
}
