.r-categories a {
    text-decoration: none;
}

.r-categories a:hover, .r-categories a:focus  {
    background: var(--color-accent-muted);
}

.r-categories a:hover .r-icon {
    stroke: var(--color-foreground);
}

.r-categories a.r-active {
    background: var(--color-accent);
}
