.r-category {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    align-items: center;
}

.r-category .name {
    flex: 1;
}

.r-category .unread {
    margin-left: 5px;
    font-size: var(--font-size-small);
}

.r-category-toggle {
    display: flex;
    align-content: center;
    padding: 0 5px;
}

.r-category-feeds {
    display: flex;
    flex-direction: column;
}
