.r-feed {
    display: flex;
    padding: 10px 10px 10px 29px;
    align-items: center;
}

.r-feed .title {
    flex: 1;
}

.r-feed .unread {
    margin-left: 5px;
    font-size: var(--font-size-small);
}
