.r-sidebar-actions {
    box-sizing: border-box;
    bottom: 0;
    padding: 5px;
    display: flex;
    border-bottom: 1px solid var(--color-seconary);
    justify-content: space-between;
}

.r-sidebar-actions > div {
    display: flex;
    align-items: center;
}

.r-sidebar-actions > .left > * {
    margin-right: 5px;
}

.r-sidebar-actions > .right > * {
    margin-left: 5px;
}

.r-sidebar-content {
    padding-top: 10px;
    flex-grow: 1;
    overflow-y: auto;
}
