.r-sidebar {
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--color-seconary-muted);
    border-right: 1px solid var(--color-seconary-muted);
}

.r-sidebar .r-navbar a {
    text-decoration: none;
}

.r-sidebar-content {
    flex-grow: 1;
    overflow-y: auto;
}
