.r-icon {
    height: 19px;
    width: 19px;
}

.large .r-icon, .r-icon.large {
    height: 27px;
    width: 27px;
}

.small .r-icon, .r-icon.small {
    height: 15px;
    width: 15px;
}

a .r-icon {
    stroke: var(--color-foreground);
}

a:hover .r-icon {
    stroke: var(--color-accent);
}
