.r-button {
    padding: 5px;
    font-size: var(--font-size);
    background: var(--color-seconary);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
}

.r-button .r-icon {
    stroke: var(--color-foreground);
}

.r-button:hover, .r-button:focus {
    background: var(--color-accent);
}

.r-button:disabled {
    background: var(--color-seconary-muted);
    color: var(--color-foreground-muted);
    cursor: auto;
}

.r-button:disabled .r-icon {
    stroke: var(--color-foreground-muted);
}

.r-button.small {
    font-size: var(--font-size-small);
}

.r-button.large {
    font-size: var(--font-size-large);
}

.r-button.outline {
    background: transparent;
}

.r-button.outline:hover, .r-button.outline:focus {
    background: var(--color-accent);
}

.r-button.outline:disabled {
    background: transparent;
}

.r-button.minimal {
    background: transparent;
    padding: 1px;
}

.r-button.minimal:hover, .r-button.minimal:focus {
    background: transparent;
    color: var(--color-accent);
    stroke: var(--color-accent);
}

.r-button.minimal:hover .r-icon, .r-button.minimal:focus .r-icon{
    stroke: var(--color-accent);
}
