.r-page-not-found {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-large);
}

.r-page-not-found > * {
    margin-top: 10px;
}

.r-page-not-found a {
    margin-top: 10px;
}

.r-page-not-found a:hover {
    text-decoration: underline;
}
