:root {
    --color-background: rgb(21, 24, 29);

    --color-foreground: rgba(255, 255, 255, 0.9);
    --color-foreground-muted: rgba(255, 255, 255, 0.3);

    --color-seconary: rgb(64, 75, 105);
    --color-seconary-muted: rgba(64, 75, 105, 0.4);

    --color-accent: rgb(0, 129, 138);
    --font-size: 12pt;
    --font-size-large: 16pt;

    --border-radius: 5px;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--color-foreground);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--color-background);
    font-size: var(--font-size);
}

body, html, #root {
    height: 100%;
}

pre, code {
    font-family: 'Inconsolata', monospace;
}
