:root {
    --color-background: rgb(21, 24, 29);

    --color-foreground: rgba(255, 255, 255, 0.9);
    --color-foreground-muted: rgba(255, 255, 255, 0.3);

    --color-seconary: rgb(64, 75, 105);
    --color-seconary-muted: rgba(64, 75, 105, 0.4);

    --color-accent: rgb(0, 129, 138);
    --font-size: 12pt;
    --font-size-large: 16pt;

    --border-radius: 5px;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--color-foreground);
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--color-background);
    font-size: var(--font-size);
}

body, html, #root {
    height: 100%;
}

pre, code {
    font-family: 'Inconsolata', monospace;
}
div, button, input {
    box-sizing: border-box;
}

input {
    background: var(--color-background);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-seconary);
    font-size: var(--font-size);
    padding: 5px 8px;
    transition: border 0.2s;
}

input:hover, input:focus {
    border-color: var(--color-accent);
    outline: 0;
}

input::placeholder {
    color: var(--color-foreground-muted);
}

input.large {
    font-size: var(--font-size-large);
}
