:root {
    --color-background: #1a1d21;

    --color-foreground: #ecedee;
    --color-foreground-muted: #9b9b9b;

    --color-seconary: #404b69;
    --color-seconary-muted: #262c3b;

    --color-accent: #00818a;
    --color-accent-muted: #174d5a;

    --color-error: #b71c1c;

    --font-size-small: 9pt;
    --font-size: 11pt;
    --font-size-large: 16pt;
    --border-radius: 5px;
}

* {
    font-family: 'Roboto', sans-serif;
}

body, a, button, input {
    color: var(--color-foreground);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-foreground);
}

*::-webkit-scrollbar-track {
    background-color: var(--color-foreground);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground-muted);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-seconary);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--color-seconary);
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--color-background);
    font-size: var(--font-size);
}

body, html, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

pre, code, pre *, code * {
    font-family: 'Inconsolata', monospace;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a {
    text-decoration: none;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

:focus {
    scrollbar-color: var(--color-accent-muted) currentcolor;
}
