input {
    background: var(--color-background);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-seconary);
    font-size: var(--font-size);
    padding: 5px 8px;
    transition: border 0.2s;
}

input:hover, input:focus {
    border-color: var(--color-accent);
    outline: 0;
}

input::placeholder {
    color: var(--color-foreground-muted);
}

input.large {
    font-size: var(--font-size-large);
}
