.r-post {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.r-post.read-later .read-later .r-icon {
    stroke: var(--color-accent);
    fill: var(--color-accent);
}

.r-post.read-later .read-later:focus .r-icon, .r-post.read-later .read-later:hover .r-icon {
    stroke: var(--color-foreground);
    fill: var(--color-foreground);
}

.r-post-content {
    overflow-y: auto;
    flex: 1;
    padding: 0px 20px 20px;
}

.r-post-content .inner {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.r-post-content .title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.r-post-content .meta {
    display: flex;
    flex-direction: row;
    color: var(--color-foreground-muted);
    font-size: var(--font-size-small);
    align-items: center;
}

.r-post-content .meta a {
    color: var(--color-foreground-muted);
}

.r-post-content .meta a:hover {
    text-decoration: underline;
}

.r-post-content .media {
    display: flex;
    justify-content: center;
}

.r-post-content .media img {
    max-width: 100%;
}

.r-post-content .text a, .r-post-content .text a:hover {
    color: var(--color-accent);
}

.r-post-content .text img {
    max-width: 100%;
    height: auto;
}

.r-post-content .text pre {
    background: var(--color-seconary-muted);
    padding: 10px;
}

.r-post-content .text blockquote {
    margin: 0;
    padding: 0px 20px;
    border-left: 5px solid var(--color-accent);
}

.r-post-content .text {
    line-height: 1.2;
}
