.r-posts-list-item {
    overflow: hidden;
}

.r-posts-list-item > a {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-seconary-muted);
    text-decoration: none;
    transition: opacity 0.2s;
    height: 130px;
}

.r-posts-list-item.read {
    opacity: 0.5;
}

.r-posts-list-item.selected .border {
    border-left: 5px solid var(--color-accent);
    border-right: 5px solid var(--color-accent);
}

.r-posts-list-item.selected:hover .border, .r-posts-list-item.selected:focus .border {
    border-left: 5px solid var(--color-accent);
    border-right: 5px solid var(--color-accent);
}

.r-posts-list-item .border {
    height: 100%;
    padding: 25px 5px 5px;
    display: flex;
    flex-direction: row;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.r-posts-list-item .fade {
    height: 20px;
    left: 10px;
    right: 10px;
    position: absolute;
    bottom: 5px;
    background-image: linear-gradient(to bottom, transparent, var(--color-background));
}

.r-posts-list-item:hover .border, .r-posts-list-item:focus .border {
    border-left: 5px solid var(--color-accent-muted);
    border-right: 5px solid var(--color-accent-muted);
}

.r-posts-list-item .meta {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    color: var(--color-foreground-muted);
    font-size: var(--font-size-small);
    align-items: center;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 5px;
}

.r-posts-list-item .meta a {
    color: var(--color-foreground-muted);
}

.r-posts-list-item .meta a:hover, .r-posts-list-item .meta a:focus {
    text-decoration: underline;
}

.r-posts-list-item .actions {
    display: flex;
    visibility: hidden;
    margin-left: auto;
    align-items: center;
}

.r-posts-list-item .actions button:focus {
    color: var(--color-foreground);
}

.r-posts-list-item .actions button:hover {
    color: var(--color-accent);
}

.r-posts-list-item.read-later .actions .read-later .r-icon {
    color: var(--color-accent);
    stroke: var(--color-accent);
    fill: var(--color-accent);
}

.r-posts-list-item.selected .actions, .r-posts-list-item:hover .actions, .r-posts-list-item:focus .actions, .r-posts-list-item:focus-within .actions {
    visibility: visible;
}

.r-posts-list-item .actions > * {
    margin-left: 3px;
}

.r-posts-list-item .media {
    margin-right: 5px;
}

.r-posts-list-item .media img {
    width: 70px;
}

.r-posts-list-item .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.r-posts-list-item .summary {
    margin-top: 5px;
    color: var(--color-foreground-muted);
    font-size: var(--font-size-small);
}
