.r-page-posts {
    display: flex;
    height: 100%;
}

.r-posts-list-action-unread-only {
    display: flex;
    align-items: center;
}

.r-posts-list-action-mark-as-read {
    margin-left: 10px !important;
    padding-left: 5px;
    border-left: 1px solid var(--color-seconary-muted);
}

.r-posts-list {
    display: flex;
    flex-direction: column;
    width: 450px;
    border-right: 1px solid var(--color-seconary-muted);
}

.r-posts-list-content {
    overflow-y: auto;
    flex: 1;
}
